services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: anb-api
    restart: unless-stopped
    expose:
      - "8000"
    environment:
      - DATABASE_URL=mysql+aiomysql://ANBAdmin:ANB12345@db-instance-anb.cra7zjgxuryo.us-east-1.rds.amazonaws.com:3306/anb_rising_stars
      - UPLOAD_DIR=/storage/uploads
      - PROCESSED_DIR=/storage/processed
      - AWS_ACCESS_KEY_ID=
      - AWS_SECRET_ACCESS_KEY=
      - AWS_SESSION_TOKEN=
      - AWS_REGION=us-east-1
      - S3_BUCKET_NAME=anb-aws3-bucket
      - S3_UPLOAD_PREFIX=uploads/videos/originales
      - S3_PROCESSED_PREFIX=processed/videos
      - S3_ASSETS_PREFIX=assets
    volumes:
      - /home/ubuntu/storage/uploads:/storage/uploads
      - /home/ubuntu/storage/processed:/storage/processed
      - /home/ubuntu/storage/assets:/storage/assets
      - ./logs:/app/logs
    networks:
      - anb-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
 
  # Locust - Pruebas de Carga
  locust:
    build:
      context: ..
      dockerfile: aplication/Dockerfile.locust
    container_name: anb-locust
    depends_on:
      api:
        condition: service_healthy
    ports:
      - "8089:8089"
    networks:
      - anb-network

# Red compartida
networks:
  anb-network:
    driver: bridge
